
<TABLE height="82%" cellSpacing=0 cellPadding=0 width="100%" align=center border=0><TBODY>
<TR>
<TD style="BORDER-RIGHT: #e2e2e2 1px solid" vAlign=top width="14%">

<FORM id=lockESRATForPropose method="post" action="/CreditRethinkCREUAT/ESRAT/lockESRATForPropose.action" onsubmit="return true;" name="ESRATLeftNavForm">
<UL id=browser class="filetree treeview" jQuery1571117139018="2">
<LI><SPAN class=file><A onclick="parent.restartTimeChecker();dynamicAnchor('/CreditRethinkCREUAT/ESRAT/showESRATClientDetails.action', '0', 'saveClientDetails.action', '');" id=0 class=leftmenu href="#" name=link>Client Details </A></SPAN>
<LI><SPAN class=folder><A id=100 class=leftmenu href="#" name=link>Checklists</A> 
<UL>
<LI class=last><SPAN class=file><A onclick="parent.restartTimeChecker();dynamicAnchor('/CreditRethinkCREUAT/ESRAT/riskAssessmentCB.action', '1', 'saveTemplateAnswersV3.action', '');" id=1 class=leftmenu href="#" name=link>Risk Assessment</A> </SPAN></LI></UL></SPAN>
<DIV id=client_details_children_div_id></DIV>
<LI><SPAN class=file><A onclick="parent.restartTimeChecker();dynamicAnchor('/CreditRethinkCREUAT/ESRAT/showESRATFinalSummary.action', '3', 'calculateSummary.action', '');" id=3 class=leftmenu href="#" name=link>Final Summary </A></SPAN>
<LI><SPAN class=file><A onclick="dynamicAnchor('/CreditRethinkCREUAT/ESRAT/showAttachments.action', '4', '', '');parent.restartTimeChecker();" id=4 class=leftmenu href="#" name=link>Attachments </A></SPAN>
<LI><SPAN class=file><A onclick=boldSelected(5);openPropApprPage();parent.restartTimeChecker(); id=5 class=leftmenu href="#" name=link>Propose / Approve </A></SPAN>
<LI class=last><SPAN class=file><A onclick="dynamicAnchor('', '6', '', '');parent.restartTimeChecker();" id=6 class=leftmenu style="CURSOR: hand" name=link>Generate PDF</A> </SPAN></LI></UL></FORM></TD>
</TR></TBODY></TABLE>
