<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
	<TABLE height="82%">
		<TBODY>
			<TR>
				<TD style="BORDER-RIGHT: #e2e2e2 1px solid" vAlign="top" width="14%">

					<FORM id="lockESRATForPropose" method="post">
						<UL id="browser" class="filetree treeview" jQuery1571117139018="2">
							<LI class="w3-bar-item w3-button tablink"><SPAN class="file"><A id="0" class="leftmenu" href="#" name="link">Client Details </A></SPAN>
							<LI><SPAN class=folder><A id=100 class="leftmenu" href="#" name="link">Checklists</A> 
<UL>
<LI class="last"><SPAN class="file"><A id="1" class="leftmenu" href="#" name="link">Risk Assessment</A> </SPAN>
							</LI>
						</UL></SPAN>
						<DIV id="client_details_children_div_id"></DIV>
						<LI><SPAN class="file"><A id="3" class="leftmenu" href="#" name="link">Final Summary </A></SPAN>
						<LI><SPAN class="file"><A  id="4" class="leftmenu" href="#" name="link">Attachments </A></SPAN>
						<LI><SPAN class="file"><A id="5" class="leftmenu" href="#" name="link">Propose / Approve </A></SPAN>
						<LI class="last">
							<SPAN class="file"><A id="6" class="leftmenu" style="CURSOR: hand" name="link">Generate PDF</A> </SPAN>
						</LI>
						</UL>
					</FORM>
				</TD>
			</TR>
		</TBODY>
	</TABLE>
</body>

</html>
