<html>
  <body>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<!-- GunA Edit Lock Starts -->
		<td colspan="4" bgcolor="#f2f2f2">
		<div align="left">
			<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
			<tr>
			<td align="left">
				
			
				
			
				
			</td>
			</tr>
			
			<tr>
			<td align="left">
			
				<table cellpadding=0 cellspacing="0" class="menublue">
					<tr>
						<td width="45%" class="bgTbRowWh"><strong>&nbsp;
							Locked By&nbsp;:&nbsp;
						</strong></td>
						<td width="54%" align="left" class="bgTbRowWh">
							Creditmate User 1514231 (1514231)
						</td>
					</tr>
				</table>
			
			</td>
			</tr>
			</table>
		</div>
		</td>
		<td colspan="4" bgcolor="#f2f2f2" height="30">
		<div align="right">
		
		<!--  code to delete esrat -- starts -->
		
	<!--  code to delete esrat -- ends	-->

		
			
				

					<a title="Read-only" onclick="unlockESRATForEdit()" style="cursor: hand">
						<img src="https://i.ibb.co/wL9LL3p/Read.gif"
						alt="Read-only" width="18" height="18" border="0">
					</a>
				
			
			
			
			
			  <!-- Veni Added condition for CB ESRA Version 4.0 for Refresh button visible and disable condition -->
	          		
		       		
		 
			<a href="javascript:closeESRATWindow()"><img src="https://i.ibb.co/WNrvyzD/close-now.gif" alt="Close" width="18" height="18" border="0"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
		</td>
	</tr>
</table>
  </body>
</html>