
<TABLE cellSpacing=0 cellPadding=0 width="100%" align=center border=0><TBODY>
<TR><!-- GunA Edit Lock Starts -->
<TD bgColor=#f2f2f2 colSpan=4>
<DIV align=left>
<TABLE cellSpacing=0 cellPadding=0 width="100%" align=left border=0>
<TBODY>
<TR>
<TD align=left></TD></TR>
<TR>
<TD align=left>
<TABLE class=menublue cellSpacing=0 cellPadding=0>
<TBODY>
<TR>
<TD class=bgTbRowWh width="45%"><STRONG>&nbsp; Locked By&nbsp;:&nbsp; </STRONG></TD>
<TD class=bgTbRowWh width="54%" align=left>Creditmate User 1514231 (1514231) </TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></DIV></TD>
<TD bgColor=#f2f2f2 height=30 colSpan=4>
<DIV align=right><!--  code to delete esrat -- starts --><!--  code to delete esrat -- ends	--><A onclick=unlockESRATForEdit() title=Read-only style="CURSOR: hand"><IMG border=0 alt=Read-only src="/CreditRethinkCREUAT/image/Read.gif" width=18 height=18> </A><!-- Veni Added condition for CB ESRA Version 4.0 for Refresh button visible and disable condition --><A onclick="dynamicAnchor('/CreditRethinkCREUAT/ESRAT/esratRefreshCreateIndex.action', '7', '', '');" href="#"><IMG onclick=updateFlag(); border=0 alt=Refresh src="/CreditRethinkCREUAT/image/refresh.gif" width=18 height=18></A> <A href="javascript:closeESRATWindow()"><IMG border=0 alt=Close src="/CreditRethinkCREUAT/image/close_now.gif" width=18 height=18></A> &nbsp;&nbsp;&nbsp;&nbsp; </DIV></TD></TR></TBODY></TABLE>
