
<TABLE height="7%" cellSpacing=0 cellPadding=0 width="99%" align=center border=0><TBODY>
<TR>
<TD height=5></TD></TR>
<TR>
<TD colSpan=4 align=center>
<TABLE cellSpacing=0 cellPadding=1 width="100%" border=0>
<TBODY>
<TR>
<TD class=borderDark>
<TABLE cellSpacing=0 cellPadding=5 width="100%" border=0>
<TBODY>
<TR class=bgTbRowBl>
<TD class=style2 width="20%" align=left><STRONG>Customer Name </STRONG></TD>
<TD class=bgTbRowBl width="2%" align=left><STRONG>:</STRONG></TD>
<TD class=bgTbRowBl width="14%" align=left>L NAME 12107908</TD>
<TD class=style2 width="16%" align=left><STRONG>Domicile Country </STRONG></TD>
<TD class=bgTbRowBl width="2%" align=left><STRONG>:</STRONG></TD>
<TD class=bgTbRowBl width="16%" align=left>INDIA</TD>
<TD class=style2 width="14%" align=left><STRONG>Document Reference #</STRONG></TD>
<TD class=bgTbRowBl width="2%" align=left><STRONG>:</STRONG></TD>
<TD class=bgTbRowBl width="16%" align=left>1800244216</TD></TR>
<TR class=bgTbRowBl>
<TD class=bgTbRowBl width="16%" align=left><STRONG>Customer Segment</STRONG></TD>
<TD class=bgTbRowBl width="2%" align=left><STRONG>:</STRONG></TD>
<TD class=bgTbRowBl width="16%" align=left>Local Corporate</TD>
<TD class=style2 width="16%" align=left><STRONG>Last Modified Date </STRONG></TD>
<TD class=bgTbRowBl width="2%" align=left><STRONG>:</STRONG></TD>
<TD class=bgTbRowBl width="16%" align=left>14/10/2019</TD>
<TD class=style2 width="16%" align=left><STRONG>Document Status </STRONG></TD>
<TD class=bgTbRowBl width="2%" align=left><STRONG>:</STRONG></TD>
<TD class=bgTbRowBl width="16%" align=left>IN PREPARATION</TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD height=5></TD></TR></TBODY></TABLE>
