

<html>
<head>
<title>Facility Details</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link href="/CreditRethinkCREUAT/css/style.css" rel="stylesheet" type="text/css">
<link href="/CreditRethinkCREUAT/css/aleph-css.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/CreditRethinkCREUAT/js/ddw_commonValidations.js"></script>

</head>
<body onmousedown="disable()">

		
<form id="ssAttachmentForm" name="ssAttachmentForm" onsubmit="parent.restartTimeChecker();; return true;" action="/CreditRethinkCREUAT/ESRAT/uploadAttachment.action" method="POST" enctype="multipart/form-data">

	<span class="errorMessageRed">
		
		
	</span>
	<span class="successMessage">
		
	</span>
	<!-- Used to disable Multiple Submits -->
	<input type="hidden" name="struts.token.name" value="struts.token" />
<input type="hidden" name="struts.token" value="76JAUPYZG20PU58I042JRKNOWL921OJ0" />


	<table width="98%" border="0" cellspacing="0" cellpadding="1">

	<tr>
		<td align="left" class="normal">
			<table id="table2" width="100%" border="0">
				<tr>
					<td class="menublue">&rsaquo;<strong>Attachments</strong></td>
				</tr>
			</table>
	    </td>
	</tr>

    <tr>
    	<td class="borderLight">
			<table width="100%" border="0" cellspacing="1" cellpadding="5">

				<tr>
                	<th class="bgTbMainHdrGradient" height="36" width="50%">Description</th>
                	<th class="bgTbMainHdrGradient" height="36" width="25%">Created By</th>
                	<th class="bgTbMainHdrGradient" height="36" width="20%">Created Date</th>
                	<th class="bgTbMainHdrGradient" height="36" width="5%">&nbsp;</th>
              	</tr>
              	<tr> </tr>
              	
				
 				
 				

            </table>
              
		</td>
	</tr>

	<tr class="bgTbRowWh" id="row_2">
		<td colspan="9" align="center">&nbsp;</td>
	</tr>

</table>	 




</form>





</body>
</html>
